#list.html:

{% extends 'base.html' %}

{% block title %}Lista Przepisów{% endblock %}

{% block content %}
<h1 class="mb-4">Lista Przepisów</h1>
<div class="row">
    {% for przepis in przepisy %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if przepis.obrazek %}
            <img src="{{ przepis.obrazek.url }}" class="card-img-top" alt="Zdjęcie przepisu">
            {% else %}
            <img src="/static/images/default.jpg" class="card-img-top" alt="Brak zdjęcia">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ przepis.tytul }}</h5>
                <p class="card-text">{{ przepis.opis|truncatechars:100 }}</p>
                <a href="{% url 'przepis-detail' przepis.pk %}" class="btn btn-primary">Zobacz szczegóły</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
